    input[type=checkbox] {
        visibility: hidden;
    }
    .btn {
        position: relative;
        font-family: calibri;
        width: 150px;
        padding: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border: 1px dashed #BBB;
        text-align: center;
        background-color: #DDD;
        cursor: pointer;
        font-size: 16px;
    }
    .lfirechk {
        width: 120px;
        height: 40px;
        background: #333;
        margin: 20px 60px;
        border-radius: 50px;
        position: relative;
    }
    .lfirechk:before {
        content: 'On';
        position: absolute;
        top: 12px;
        left: 13px;
        height: 2px;
        color: #26ca28;
        font-size: 16px;
    }
    .lfirechk:after {
        content: 'Off';
        position: absolute;
        top: 12px;
        left: 84px;
        height: 2px;
        color: #ddd;
        font-size: 16px;
    }
    .lfirechk label {
        display: block;
        width: 52px;
        height: 22px;
        border-radius: 50px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
        cursor: pointer;
        position: absolute;
        top: 9px;
        z-index: 1;
        left: 12px;
        background: #ddd;
    }
    .lfirechk input[type=checkbox]:checked + label {
        left: 60px;
        background: #26ca28;
    }
    body {
        background-color: #000000;
        background-image: url('bg.jpg');
        background-repeat: none;
        background-position: top center;
    }
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
        color: #ffffff;
        padding: 40px 0px 20px 0px;
    }
    h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        color: #9a9a9a;
    }
    h3 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        color: #9a9a9a;
    }
