    body {
        background-color: #000000;
        background-repeat: none;
        background-position: top center;
    }
    table {
        width: 1000px;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
    }
    table#player {
        width: 320px;
    }

    th {
        font-size: 14px;
        border: 1px solid #000000;
        padding: 8px 7px 8px 7px;
        font-size: 14px;
        text-align: left;
        background-color: #ac170c;
        color: #ffffff;
        font-weight: normal;
    }
    td {
        font-size: 14px;
        border: 1px solid #000000;
        padding: 6px 7px 6px 7px;
        font-size: 14px;
        text-align: left;
        background-color: #3f3f3f;
        color: #dadada;
    }
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
        color: #ffffff;
        padding: 40px 0px 20px 0px;
    }
    h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        color: #9a9a9a;
    }
    td:nth-child(odd) {
        background: #333333;
    }
    td.max {
        background: #2a4352;
    }
