<html>

<head>
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/index.js"></script>
</head>

<body>
    <center>
        <h1>quake2demoparser</h1>
        <form action="{{.UploadUrl}}" method="POST" enctype="multipart/form-data" name="myForm">
            <div class="btn" id="fileselectBtn" onclick="getFile()">Select .dm2 file</div>

            <div style='height: 0px;width: 0px; overflow:hidden;'>
                <input id="file" type="file" name="file" value="upload" onchange="sub(this)" />
            </div>
            <div>
                <h3>lfire Option</h3>
                <div class="lfirechk">
                    <input type="checkbox" value="1" id="lfire" name="lfire" />
                    <label for="lfire"></label>
                </div>
            </div>
            <input class="btn" type="submit" value='Upload'>
        </form>
    </center>
</body>

</html>
