<html lang="en-US">

<head>
	<link href="/css/results.css" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/results.js"></script>
</head>

<body>
    <h1>{{.MapName}}</h1>
    <h2>Team Info</h2>
    <table id="team">
        <tbody>
            <tr>
                <th>Team Name</th>
                <th>Captures</th>
                <th>Assists</th>
                <th>Returns</th>
                <th>Defends</th>
                <th>EFCKills</th>
                <th>Steals</th>
                <th>Drops</th>
                <th>Kills</th>
                <th>Killed</th>
                <th>Score</th>
            </tr>
    	{{range .Teams}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Caps}}</td>
                <td>{{.Assists}}</td>
                <td>{{.Returns}}</td>
                <td>{{.Defends}}</td>
                <td>{{.Efckills}}</td>
                <td>{{.Steals}}</td>
                <td>{{.Drops}}</td>
                <td>{{.Kills}}</td>
                <td>{{.Killed}}</td>
                <td>{{.Score}}</td>
            </tr>
    	{{end}}
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <h2>CTF Info</h2>
    <table id="ctf">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Team Name</th>
                <th>Captures</th>
                <th>Assists</th>
                <th>Returns</th>
                <th>Defends</th>
                <th>EFCKills</th>
                <th>Steals</th>
                <th>Drops</th>
                <th>Score</th>
                <th>Score - Caps</th>
            </tr>
        {{range .Players}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.TeamName}}</td>
                <td>{{.Caps}}</td>
                <td>{{.Assists}}</td>
                <td>{{.Returns}}</td>
                <td>{{.Defends}}</td>
                <td>{{.Efckills}}</td>
                <td>{{.Steals}}</td>
                <td>{{.Drops}}</td>
                <td>{{.Score}}</td>
                <td>{{.ScoreMinusCaps}}</td>
            </tr>
     	{{end}}
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <h2>Frag Info</h2>
    <table id="frag">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Kills</th>
                <th>Killed</th>
                <th>Suicides</th>
                <th>Deaths</th>
                <th>KDRatio</th>
                <th>Worst Enemy</th>
                <th>Easiest Prey</th>
                <th>Hot Streak Kills</th>
            </tr>
        {{range .Players}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Kills}}</td>
                <td>{{.Killed}}</td>
                <td>{{.Suicides}}</td>
                <td>{{.Deaths}}</td>
                <td>{{.Kdratio}}</td>
                <td>{{.WorstEnemy}}</td>
                <td>{{.EasiestVictim}}</td>
                <td>{{.MaxHotStreak}}</td>
            </tr>
         {{end}}
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <h2>Weapons Info</h2>
    <table id="weapons">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Blaster</th>
                <th>Shotgun</th>
                <th>Super Shotgun</th>
                <th>Machine Gun</th>
                <th>Chaingun</th>
                <th>Grenade Launcher</th>
                <th>Rocket Launcher</th>
                <th>Hyper Blaster</th>
                <th>Railgun</th>
                <th>BFG</th>
                <th>Grenade</th>
                <th>Telefrag</th>
            </tr>
        {{range .Players}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Blaster}}</td>
                <td>{{.Shotgun}}</td>
                <td>{{.Supershotgun}}</td>
                <td>{{.Machinegun}}</td>
                <td>{{.Chaingun}}</td>
                <td>{{.Grenadelauncher}}</td>
                <td>{{.Rocketlauncher}}</td>
                <td>{{.Hyperblaster}}</td>
                <td>{{.Railgun}}</td>
                <td>{{.Bfg}}</td>
                <td>{{.Grenade}}</td>
                <td>{{.Telefrag}}</td>
            </tr>
         {{end}}
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <h2>Players Info</h2>
    {{range .Players}}
    <table id="player">
        <tbody>
            <tr>
                <th>{{.Name}}</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Kills</th>
                <th>Killed By</th>
            </tr>
        {{range $name, $ks := .KillMap}}
            <tr>
                <td>{{$name}}</td>
                <td>{{$ks.KillsFor}}</td>
                <td>{{$ks.KilledBy}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>
    {{end}}
    <br>
    <br>
    <br>


</body>

</html>
